
<% if @workspace.any? %>
  <% @workspace.each do |workspace| %>
    <h2><%= workspace.name %></h2>
  <% end %>
<% else %>
    <h1> No workspaces added </h1>
<% end %>

<%= link_to "Add a workspace", new_workspace_path %>
