<%= link_to "Add a workspace", new_workspace_path %>

<% if @workspace.any? %>
  <% @workspace.each do |workspace| %>
    <h2><%= workspace.name %></h2>
  <%= link_to "Rate #{workspace.name}", new_workspace_rating_path(workspace) %>
  <% end %>
<% else %>
  <h1> No workspaces added </h1>
<% end %>

