No workspaces added

<button>Add a workspace</button>

<!DOCTYPE html>
<html>
  <head>
  <title>filter_coffee</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
