<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading"></h2>
            <h1> Welcome to <%= @workspace.name %>
            <%= link_to "Edit #{@workspace.name}", edit_workspace_path(@workspace) %>
            <%= link_to "Delete #{@workspace.name}", workspace_path(@workspace), method: :delete %>
            <ul>
            
              <p> WiFi rating: <%= @workspace.average_rating(:wifi).to_i %> </p>
              
            </ul>
        </div>
    </div>
</div>
